
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Go-Jokes-API</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap" rel="stylesheet">

    <style type="text/css" media="screen">
        @import url("/assets/index.css");
    </style>
  </head>

  <body>
    <nav class="navbar">🤣 Go-Jokes-Api</nav>

    <main class="main">
      <h1>Welcome to go-jokes-api! 👋</h1>

      <p>A simple jokes API built with the go/golang programming language.</p>

      <p>https://go-jokes-api.herokuapp.com/</p>

      <hr />

      <div class="api-example">GET /random</div>

      <div class="api-example">GET /jokes</div>

      <div class="api-example">GET /jokes/:id</div>
    </main>

    <footer class="footer">© 2021 Nikolaj Jensen. All Rights Reserved.</footer>
  </body>
</html>
